<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- SEO -->
  <title>나만의 감성식탁, 또쿡</title>
  <meta name="description" content="portfolio for mss">
  <meta name="author" content="mun sangseok" />
  <link rel="shortcut icon" href="./images/cat3.ico" type="image/x-icon">
  <!-- OGD (Open Graph Data) -->
  <meta property="og:title" content="나만의 감정식탁, 또쿡" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="배포후 생성된 url" />
  <meta property="og:img" content="배포후 생성된 img" />
  <!-- GOOGLE FONT -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&display=swap"
    rel="stylesheet">
  <!-- FONT AWESOME -->
  <script src="https://kit.fontawesome.com/3e1218b38a.js" crossorigin="anonymous"></script>
  <!-- SWIPER -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="/css/detail.css">
  <link rel="stylesheet" href="/css/common.css">
  <!-- JAVASCRIPT -->
  <script src="/src/detail.js" defer></script>
</head>

<body>

  <div id="SubHeader">
    <%- include('sub_header', { isAuthenticated: isAuthenticated }) %>
  </div>
  <div class="detail_wrap">
    <div class="detail_main">
      <img name="thumbnail" src="" alt="">
    </div>
    <div class="detail_title">
      <div class="title_wrap">
        <div class="title">
          <span name="beauty"></span>
          <p name="title"></p>
        </div>
        <div class="detail_icon">
          <button class="pick" onclick="togglePick()">
            <img id="pickImage" src="/img/pick.png" alt="찜하기">
            <span>찜하기</span>
          </button>
          <button class="share">
            <img src="../img/share.png" alt="공유하기">
            <span>공유하기</span>
          </button>
        </div>
      </div>
      <div class="title_inform">
        <div class="class">
          <p>난이도</p>
          <span name="level"></span>
        </div>
        <div class="time">
          <p>소요시간</p>
          <span name="time"></span>
        </div>
        <div>
          <p>평균별점</p>
          <ul class='star_review_avg'>
          </ul>
        </div>
      </div>
      <div class="title_des">
        <div class="me">
          <div class="my_icon">
            <img src="../img/mypage(detail).png" alt="내 아이콘">
          </div>
          <span class="my_name" name="nickname"></span>
        </div>
        <div class="my_des" name="introduction">
          여유로운 주말 아침, 기분을 산뜻하게 만들어 줄 브런치와 함께라면 더할 나위 없겠죠. 폭신폭신한 프렌치 토스트 옆에 달콤한 바나나를 함께 놓아 두면 더 근사한 브런치가 된답니다. 바나나를 한 번
          구워 풍미를 살리는 게 포인트예요. 달콤한 디저트 메뉴로도 안성맞춤이랍니다!
        </div>
      </div>
      <div class="more_recipe_wrap">
        <button class="more_recipe">
          <p>
            '<span name="nickname">오후의 햇살</span>'님 레시피 더 보러가기
          </p>
          <img src="../img/recipe_arrow.png" alt="">
        </button>
      </div>
    </div>
  </div><!-- detail_wrap -->
  <div class="detail_contents">
    <div class="ingre">
      <h1 class="ingre_title">재료</h1>
      <div class="ingre_list_wrap">
        <ul class="ingre_list">
          <li>
            <p>통식빵(또는 기본 식빵 2조각)</p>
            <span>1/3개</span>
          </li>
          <!-- 레시피 재료 -->
        </ul>
        <div class="ingre_comment">
          <h2>
            재료 Comment
          </h2>
          <p name="ingre_tip">
          </p>
          <a href="/join">
              <img src="../img/detail_banner.jpg" alt="">
              <button><span>TTOCOOK</span> 회원가입 하러가기 <img src="/img/recipe_arrow.png" alt=""></button>
          </a>
        </div>
      </div>
    </div>
    <div class="recipe">
      <h1 class="recipe_title">레시피</h1>
      <div class="recipe_list_wrap">
        <ul class="recipe_list">
        </ul>
        <div class="recipe_tip">
          <h1 class="recipe_tip_title">
            이 레시피에 더하는 맛있는 <span>Tip !</span>
          </h1>
          <p class="tip_des" name="tip_des">
          </p>
        </div>
      </div>
    </div>
    <div class="comment_wrap">
      <div class="comment_title">
        <div>
          <p>Review</p>
          <span class="review_count"></span>
          <ul class="star_review_avg">
            <!-- 별점(0.00) -->
          </ul>
        </div>
        <button class="write_review">리뷰쓰기</button>
      </div>
      <div class="photo_wrap">
        <div class="photo_btn_wrap">
          <div>
            <p>포토 리뷰</p>
            <span></span>
          </div>
          <button>포토 리뷰 더보기</button>
        </div>
        <div class="swiper photo_swiper">
          <div class="swiper-wrapper">
            <!-- 스와이퍼 이미지 -->
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
      <ul class="comment_list">
        <!-- <div class="answer_wrap">
          <div class="answer">
            <div class="answer_title">
              <div>
                <div class="title_img">
                  <img src="/img/mypage(detail).png" alt="">
                </div>
                <p>오후의 햇살</p>
              </div>
              <span>2023-11-13</span>
            </div>
            <p>네~ 식용유도 사용가능하세요! 하지만 버터로 하시면 더 풍미가 좋기 때문에 추천드려요:)</p>
            <div>
              <button>수정</button>
              <button>삭제</button>
            </div>
          </div>
          <div class="answer_write">
            <div class="answer_write_inner">
              <p>로그인 해주세요 :)</p>
              <div>
                <textarea cols="30" rows="10" placeholder="타인을 배려 하는 마음을 담아 댓글을 달아주세요."></textarea>
                <button>등록</button>
              </div>
            </div>
          </div>
        </div> -->
        <div class="more_comment">
          <button>댓글 더보기</button>
        </div>
      </ul>
      <div class="my_star">
        <div>
          <p>나의 별점</p>
          <span class="star">
            ★★★★★
            <span style="width : 100%">★★★★★</span>
            <input type="range" oninput="drawStar(this)" value="10" step="1" min="0" max="10" name="rating">
          </span>
        </div>
        <span>
          <img src="/img/warning.png" alt="">
          드래그하여 레시피에 별점을 줄 수 있습니다.
        </span>
      </div>
      <div class="my_comment">
        <label for="file" class="my_comment_img">
          <input type="file" id="file" name="reply_img">
          <div id="reply_area">
            <img src="/img/plus.png" alt="" class="addPic">
          </div>
        </label>
        <div>
          <textarea name="mycomment" id="myComment" cols="30" rows="3" maxlength ="120" 
            placeholder="레시피에 대한 후기나 궁금한 점을 적어주세요. "></textarea>
          <button id="reply_button">리뷰 등록</button>
        </div>
      </div>
    </div>
  </div>
  <div class="photo_detail_modal_wrap">
    <div class="photo_detail_modal">
      <div class="swiper_par" style="position: relative;">
        <button class="modal_close">
          x
        </button>
        <div class="swiper modalSwiper2" style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff">
          <div class="swiper-wrapper">
            <!-- 스와이퍼 -->
          </div>
        </div>
        <div class="swiper-button-next .modal-swiper-button-next"></div>
        <div class="swiper-button-prev .modal-swiper-button-prev"></div>
      </div>
      <div thumbsSlider="" class="swiper modalSwiper">
        <div class="swiper-wrapper">
          <!-- 스와이퍼 모달 이미지 -->
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="footer_top">
      <ul class="site_map">
        <li><a href="#">고객센터</a></li>
        <li><a href="#">이용약관</a></li>
        <li> <a href="#">개인정보처리방침</a></li>
        <li> <a href="#">이메일무단수집금지</a></li>
        <li> <a href="#">Contact Us</a></li>
        </li>
      </ul>
      <button>
        나만의 레시피 올리기
        <div>
          <img src="/img/footer_arrow.png" alt="">
        </div>
      </button>
    </div>
    <div class="footer_des">
      <ul>
        <li>
          (주)또쿡 : 울산광역시 또기구 또기로 94 (980113)
        </li>
        <li>
          <ul>
            <li>대표이사 홍길동</li>
            <li>T.010.4095.2315</li>
            <li>F.010.4095.2315</li>
            <li>E-MAIL.MSS3662352@naver.com</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>사업자등록번호 : 010-40-952915</li>
            <li>통신판매신고번호:1996-08-23</li>
          </ul>
        </li>
      </ul>
      <button>
        고객센터 연결하기
        <div>
          <img src="/img/arrows.png" alt="">
        </div>
      </button>
    </div>
    <div class="footer_bottom">
      <p>© TTOCOOK CO,. LTD. ALL RIGHTS RESERVED.</p>
      <h1><span>나만의 감정식탁, </span>TTOCOOK</h1>
    </div>
  </footer>
  <!-- BUTTONMODAL -->
  <button class="top_btn">
    <img src="/img/top_btn.png" alt="탑버튼">
  </button>
</body>

<script>
  /* BTN_TOP */
  $(function () {
    $(".top_btn").click(function () {
      $('html,body').animate({
        scrollTop: 0
      }, 400);
      return false;
    })
  });
</script>

</html>