:root {

  /* COLOR */
  --accent-color: #868707;

  /* FONT */
  --font-eng: 'Nanum Myeongjo', serif;
  --font-ko: 'Nanum Gothic', sans-serif;

  /* SIZE*/
  --size-max-width: 1080px;

  /* FONT-WEIGNT */
  --fw5: 500;
  --fw6: 600;
  --fw7: 700;
  --fw8: 800;
  --fw9: 900;

}

.detail_wrap {
  width: 100%;
  max-width: 1080px;
  height: auto;
  box-sizing: border-box;
  padding-top: 160px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  gap: 40px;
}

.detail_wrap>div {
  flex: 1;
}

.detail_main>img {
  width: 100%;
  height: auto;
}

.detail_title .title {
  font-family: var(--font-eng);
}

.detail_title .title span {
  display: block;
  font-size: 17px;
  margin-bottom: 15px;
}

.detail_title .title p {
  letter-spacing: 0.6px;
  font-size: 23px;
  font-weight: var(--fw8);
}

.title_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.title_wrap .detail_icon {
  display: flex;
  gap: 15px;
}

.title_wrap .detail_icon>button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.title_wrap .detail_icon .pick img.clicked {
  transform: scale(1.2);
}

.title_wrap .detail_icon>button>img {
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease;
}

.title_wrap .detail_icon>button>span {
  font-family: var(--font-ko);
  font-size: 10px;
  font-weight: 500;
  color: var(--accent-color);
}

.title_wrap .detail_icon .pick {
  position: relative;
}

.title_wrap .detail_icon .pick span {
  color: #4d4d4d;
}

.title_inform {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.title_inform>div {
  display: flex;
  gap: 19px;
  font-size: 14px;
  font-weight: var(--fw6);
}

.title_inform>div p {
  letter-spacing: 1px;
}

.title_inform>div span {
  color: var(--accent-color);
}

.title_inform ul {
  display: flex;
  gap: 3px;
  align-items: center;
}

.title_inform ul li {
  width: 15px;
}

.title_inform ul li img {
  width: 100%;
}

.title_des {
  margin-top: 80px;
  padding: 20px 10px 0 0;
  border-top: 1px solid #eee;
}

.me {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--font-eng);
}

.me .my_icon {
  width: 35px;
  height: 35px;
}

.me .my_icon img {
  width: 100%;
  height: 100%;
}

.me .my_name {
  font-size: 17.5px;
  font-weight: var(--fw6);
  letter-spacing: 0.7px;
}

.my_des {
  font-family: var(--font-eng);
  line-height: 26px;
  margin-top: 15px;
  color: #696969;
}

.more_recipe_wrap {
  position: relative;
  text-align: right;
  margin-top: 70px;
}

.more_recipe {
  font-size: 16px;
  font-family: var(--font-eng);
}

.more_recipe span {
  color: var(--accent-color);
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
}

.more_recipe p {
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.4s;
}

.more_recipe img {
  position: absolute;
  bottom: 0;
  right: 10px;
  transition: all 0.5s;
  opacity: 0;
}

.more_recipe_wrap:hover .more_recipe p {
  right: 30px;
}

.more_recipe_wrap:hover .more_recipe img {
  right: 0;
  opacity: 1;
}

/* DETAIL_CONTENTS */
.detail_contents {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.ingre {
  margin-top: 60px;
  transition: opacity 1.4s ease;
  /* opacity: 0.3; */
}

body {
  height: 2000px;
}

.ingre_title {
  letter-spacing: 2px;
  font-size: 22px;
  font-family: var(--font-eng);
  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 10px;
}

.ingre_list_wrap {
  display: flex;
  box-sizing: border-box;
  gap: 30px;
  margin-top: 20px;
}

.ingre_list_wrap ul {
  background-color: #eeeeee54;
  padding: 20px 30px;
  box-sizing: border-box;
  border-radius: 10px;
  width: 55%;
}

.ingre_list_wrap li {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  padding-bottom: 10px;
  font-family: var(--font-eng);
}

.ingre_list_wrap li:last-child {
  padding-bottom: 0;
}

.ingre_list_wrap li p {
  letter-spacing: -0.5px;
}

.ingre_list_wrap li span {
  font-size: 14px;
  color: var(--accent-color);
  font-weight: var(--fw6);
}

.ingre_comment {
  margin-top: 20px;
}

.ingre_comment h2 {
  font-size: 22px;
  font-family: var(--font-eng);
}

.ingre_comment p {
  background-color: #87870738;
  font-size: 15px;
  font-family: var(--font-eng);
  padding: 25px 17px;
  height: 50px;
  margin-top: 10px;
  line-height: 24px;
  border-radius: 10px;
}

.ingre_comment>a {
  display: block;
  width: 100%;
  margin-top: 30px;
  position: relative;
}

.ingre_comment>a img {
  width: 100%;
}

.ingre_comment>a:hover {
  opacity: 1;
}

.ingre_comment>a button {
  opacity: 0;
  position: relative;
  position: absolute;
  left: -30px;
  bottom: -10px;
  font-family: var(--font-eng);
  font-size: 16px;
  transition: all 0.8s;
}

.ingre_comment>a button span {
  color: var(--accent-color);
  font-weight: var(--fw8);
}

.ingre_comment>a button img {
  opacity: 0;
  position: absolute;
  width: 26px;
  bottom: 3px;
  right: 0;
  transition: all 0.9s;
}

.ingre_comment>a:hover button {
  opacity: 1;
  left: 20px;
}

.ingre_comment>a:hover button img {
  opacity: 1;
  right: -30px;
}

/* RECIPE */

.recipe {
  margin-top: 60px;
}

.recipe_title {
  letter-spacing: 2px;
  font-size: 22px;
  font-family: var(--font-eng);
  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 10px;
}

.recipe {
  margin-top: 100px;
}

.recipe_list_wrap ul {
  margin-top: 60px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.recipe_list_wrap ul li {
  display: flex;
  gap: 10px;
  height: 400px;
  box-sizing: border-box;
  margin-top: 40px;
}

.recipe_list_wrap ul li>div {
  flex: 1;
}

.recipe_list_wrap ul li .recipe_img {
  width: 100%;
  height: auto;
}

.recipe_list_wrap ul li .recipe_img img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.699);
  width: 100%;
  height: 100%;
  transform: scale(0.85);
  margin-left: -35px;
}

.recipe_detail_des h2 {
  font-family: var(--font-eng);
  color: #383838;
  font-size: 22px;
  font-weight: var(--fw8);
  padding: 40px 0 20px;
  letter-spacing: 2px;
  border-bottom: 1px solid #87870756;
}

.recipe_detail_des p {
  font-weight: var(--fw7);
  color: #3b3b03d7;
  letter-spacing: -0.5px;
  margin-top: 13px;
  line-height: 27px;
  font-size: 14px;
}

/* RECIPE_TIP */
.recipe_tip {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 100px;
}

.recipe_tip_title {
  position: relative;
  font-family: var(--font-eng);
  font-size: 25px;
}

.recipe_tip_title::after {
  content: '';
  position: absolute;
  width: 540px;
  height: 2px;
  background: var(--accent-color);
  top: 15px;
  right: 0;
}

.recipe_tip_title span {
  color: #424204;
}

.tip_des {
  font-family: var(--font-eng);
  font-weight: bold;
  background-color: #87870734;
  height: 60px;
  padding: 45px 25px;
  line-height: 32px;
  border-radius: 10px;
  margin-top: 20px;
}

/* COMMENT */
.comment_wrap {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 150px;
}

.comment_title {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 10px;
  letter-spacing: 2px;
  font-size: 22px;
  font-family: var(--font-eng);
  font-weight: var(--fw7);
  padding-right: 10px;
}

.comment_title>div {
  display: flex;
}

.comment_title ul {
  display: flex;
  gap: 3px;
  margin-left: 10px;
  margin-top: -1px;
}

.comment_title ul li {
  width: 15px;
  height: 15px;
}

.comment_title ul li img {
  width: 100%;
  height: 100%;
}

.comment_title>button {
  font-family: var(--font-eng);
  font-size: 13px;
  font-weight: var(--fw8);
  letter-spacing: 1px;
  background-color: var(--accent-color);
  width: 90px;
}

.comment_title>button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.384);
}

.photo_wrap {
  display: flex;
  gap: 10px;
  height: 120px;
  margin-top: 50px;
}

.photo_btn_wrap {
  box-sizing: border-box;
  width: 120px;
  font-family: var(--font-eng);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photo_btn_wrap>div {
  text-align: center;
  height: 70px;
  padding-top: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.527);
}

.photo_btn_wrap>div span {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: var(--fw7);
  margin-top: 3px;
  display: block;
}

.photo_btn_wrap>button {
  display: block;
  width: 100%;
  height: 43px;
  font-family: var(--font-eng);
  letter-spacing: -0.5px;
  font-weight: var(--fw7);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.089);
  transition: all 0.3s;
  background-color: #878707a8;
}

.photo_btn_wrap>button:hover {
  background-color: var(--accent-color);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.273);
}

.photo_swiper {
  position: relative;
  width: calc(100% - 130px);
}

.photo_swiper .swiper-slide {
  width: 120px;
  height: 120px;
}

.photo_swiper .swiper-slide:hover {
  cursor: pointer;
}

.photo_swiper .swiper-slide img {
  width: 100%;
  height: 100%;
}

.photo_swiper .swiper-slide:hover img {
  filter: opacity(0.6);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::before,
.swiper-button-prev::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 120px;
  background: rgba(255, 255, 255, 0.655);
  background-image: url(/img/next_arrow.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px;
}

.swiper-button-next::before {
  right: -10px;
}

.swiper-button-prev::before {
  left: -10px;
  background-image: url(/img/prev_arrow.png);
}

.comment_list {
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.comment_list li {
  display: flex;
  gap: 20px;
  height: auto;
  padding: 20px 0 10px;
  align-items: end;
  width: 100%;
}

.comment_list li>div:first-child {
  width: calc(100% - 120px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name_img_wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-eng);
}

.comment_name .name_img {
  width: 28px;
  height: 28px;
}

.comment_name .name_img img {
  width: 100%;
  height: 100%;
}

.comment_name .name_img_wrap p {
  color: black;
  font-weight: var(--fw8);
  font-size: 18px;
}

.comment_name span {
  font-size: 13px;
  color: #9e9e9e;
}

.comment_name ul {
  display: flex;
  margin-left: 5px;
  align-items: center;
  gap: 2px;
  height: 10px;
}

.comment_name ul li {
  width: 10px;
  height: 10px;
  margin-top: -10px;
}

.comment_name ul li img {
  width: 100%;
  height: 100%;
}

.comment_main {
  font-size: 16px;
  font-family: var(--font-eng);
  font-weight: var(--fw7);
  margin-top: 10px;
  padding: 15px 0;
  line-height: 25px;
}

.comment_icon {
  display: flex;
  gap: 25px;
  padding-bottom: 15px;
  padding-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.comment_icon>div:first-child {
  display: flex;
  gap: 30px;
}

.comment_icon>div:last-child {
  margin-top: -2px;
}

.comment_icon>div:last-child {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment_icon>div:last-child button:first-child {
  color: var(--accent-color);
}

.comment_icon>div>div {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.comment_icon>div>div img {
  width: 100%;
  height: 100%;
}

.comment_icon>div>div span {
  font-size: 13px;
  padding-left: 5px;
}

.comment_photo {
  width: 160px;
  height: 130px;
}

.comment_photo img {
  width: 100%;
  height: 100%;
  transform: scale(0.8);
  border-radius: 5px;
}

.answer_wrap {
  display: none;
  margin: 10px 0 40px;
}

.answer {
  border-radius: 10px;
  background-color: #87870728;
  width: 800px;
  padding: 24px 30px;
}

.answer_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-eng);
  font-size: 20px;
  font-weight: var(--fw7);
}

.answer_title>div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.answer_title span {
  font-size: 13px;
}

.answer .title_img {
  width: 27px;
  height: 27px;
}

.answer .title_img img {
  width: 100%;
  height: 100%;
}

.answer>p {
  padding: 20px 0;
  font-family: var(--font-eng);
}

.answer_btn {
  text-align: right;
}

.answer_btn button:first-child {
  color: var(--accent-color);
}

.answer_write {
  margin-top: 20px;
  padding: 10px 0 20px;
  border: 1px solid #69696946;
  border-radius: 10px;
}

.answer_write p {
  font-weight: var(--fw8);
  font-family: var(--font-eng);
  border-bottom: 1px solid #6969694d;
  padding: 7px;
}

.answer_write_inner {
  width: 95%;
  margin: 0 auto;
}

.answer_write_inner>div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: end;
}

.answer_write_inner textarea {
  resize: none;
  height: 40px;
  width: calc(100% - 110px);
  padding: 5px;
  border: 0;
  outline: 0;
}

.answer_write_inner textarea:focus::placeholder {
  opacity: 0;
}

.answer_write_inner button {
  width: 90px;
  background-color: #87870783;
  height: 30px;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 3px;
}

.answer_write_inner button:hover {
  background-color: var(--accent-color);
}

.more_comment {
  position: absolute;
  width: 100%;
  height: 200px;
  left: 0;
  bottom: 0;
  text-align: center;
  padding-top: 130px;
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 1) 100%);
}

.more_comment button {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.21);
  background-color: #87870797;
  width: 250px;
  height: 40px;
  margin: 0 auto;
  font-weight: var(--fw6);
  font-family: var(--font-eng);
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.3s;
}

.more_comment button:hover {
  background-color: #878707bc;
}

.star {
  position: relative;
  font-size: 2rem;
  color: #ddd;
  margin-top: -6px;
}

.star input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.star span {
  width: 0;
  position: absolute;
  left: 0;
  color: var(--accent-color);
  overflow: hidden;
  pointer-events: none;
}

.my_star {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 7px;
  margin-bottom: 20px;
  border-bottom: 1px solid #87870784;
  padding-left: 20px;
  margin-top: 70px;
}

.my_star::before {
  position: absolute;
  left: 0;
  content: '';
  width: 5px;
  height: 100%;
  background: var(--accent-color);
}

.my_star>div:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
}

.my_star>div:first-child p {
  font-family: var(--font-eng);
  font-weight: bold;
  color: #242424;
  font-size: 20px;
}

.my_star>span {
  font-size: 12px;
}

.my_star>span img {
  width: 15px;
  height: 15px;
  margin-bottom: -4px;
  margin-right: 5px;
}

.my_comment {
  display: flex;
  gap: 15px;
  margin-bottom: 200px;
  margin-top: 30px;
}

.my_comment>div {
  position: relative;
  width: calc(100% - 180px);
  display: flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.164);
}

.my_comment_img {
  position: relative;
  display: block;
  width: 170px;
  height: 170px;
  background-color: #bbbbbb29;
}

.my_comment_img .addPic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.4);
}
.my_comment_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#myComment {
  width: calc(100% - 160px);
  outline: none;
  border: 0;
  box-sizing: border-box;
  resize: none;
  padding: 20px 10px 10px 20px;
}

#myComment:focus::placeholder {
  opacity: 0;
}

.my_comment button {
  position: absolute;
  background-color: #878707d5;
  font-size: 15px;
  font-family: var(--font-eng);
  font-weight: var(--fw7);
  transition: all 0.2s;
  right: 20px;
  bottom: 10px;
  display: block;
  width: 100px;
  padding: 7px 0;
  border-radius: 3px;
}

.my_comment button:hover {
  background-color: #868707;
}

input[type="file"] {
  display: none;
}

label[for="file"] {
  background-color: #8787079f;
  cursor: pointer;
  transition: all 0.2s;
}

label[for="file"]:hover {
  background-color: #878707d0;
}

/* 포토리뷰디테일모달 */
.photo_detail_modal_wrap {
  position: relative;
  z-index: 9;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.753);
  transition: transform 0.3s ease;
  display: none;
}


.modal_close {
  position: absolute;
  font-size: 35px;
  width: 50px;
  padding: 2px 0 6px;
  text-align: center;
  top: 0px;
  right: 0;
  background-color: var(--accent-color);
  border-radius: 3px;
}

.modal_close:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.modalSwiper2 {
  width: 100%;
  max-width: 900px;
  height: 520px;
  margin: 0 auto;
  margin-top: 180px;
}

.modalSwiper2 .swiper-slide {
  background-color: rgba(255, 255, 255, 0.61);
  display: flex;
  gap: 30px;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #87870777;

}

.modalSwiper2 .swiper-slide>div img {
  width: 30px;
  height: 30px;
}

.modalSwiper2 .swiper-slide img {
  width: 500px;
  height: auto;
}

.modalSwiper2 .swiper-slide>div {
  width: calc(100% - 500px);
}

.modalSwiper2 .modal_contents_title {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: var(--font-eng);
  font-size: 20px;
  font-weight: var(--fw8);
  letter-spacing: 1.8px;
  border-bottom: 1px solid var(--accent-color);
  padding-bottom: 10px;
}

.modalSwiper2 .modal_contents_des {
  font-family: var(--font-eng);
  font-weight: var(--fw7);
  margin-top: 20px;
  line-height: 25px;
  letter-spacing: 0.5px;
  background-color: #87870760;
  border-radius: 5px;
  padding: 20px 15px;
}

.modalSwiper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 20px;
}

.modalSwiper .swiper-slide img{
  width: 110px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}

.modalSwiper .swiper-slide {
  filter: brightness(40%);
  cursor: pointer;
}

.modalSwiper .swiper-slide-thumb-active {
  filter: brightness(100%);
}

.swiper_par {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}


/* FOOTER */
footer {
  width: 100%;
  background-color: #131313;
  padding: 50px 50px 40px;
  box-sizing: border-box;
  margin-top: 140px;
}

footer .site_map {
  display: flex;
  gap: 30px;
}

footer .site_map a {
  color: white;
  font-weight: var(--fw8);
  font-size: 13px;
}

footer .footer_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .footer_top>button {
  color: white;
  font-weight: var(--fw9);
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  letter-spacing: -2px;
  border-bottom: 2px solid var(--accent-color);
}

footer .footer_top>button>div {
  width: 18px;
  height: 18px;
}

footer .footer_top>button>div img {
  width: 100%;
  height: 100%;
}

.footer_des {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 60px 0 55px;
}

.footer_des li {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.582);
  font-weight: var(--fw6);
}

.footer_des>ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer_des ul li ul {
  display: flex;
}

.footer_des ul li ul li {
  padding: 0 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.185);
  height: 13px;
  line-height: 13px;
  font-size: 13px;
}

.footer_des ul li ul li:first-child {
  padding-left: 0;
}

.footer_des ul li ul:last-child {
  margin-top: 10px;
}

.footer_des button {
  font-size: 15px;
  color: white;
  letter-spacing: 2px;
  font-weight: var(--fw8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 40px;
  border-bottom: 2px solid var(--accent-color);
}

.footer_des button>div {
  width: 15px;
  height: 15px;
  transform: rotate(270deg);
}

.footer_des button>div img {
  width: 100%;
  height: 100%;
}

.footer_bottom {
  color: rgba(255, 255, 255, 0.356);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: var(--fw7);
  padding: 55px 0 30px;
  border-top: 1px solid #87870773;
}

.footer_bottom h1 {
  font-family: var(--font-eng);
  font-size: 22px;
  letter-spacing: 1.8px;
  color: #868707;
}

.footer_bottom h1 span {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.377);
}

/* BUTTONMODAL */
.top_btn {
  position: fixed;
  right: 120px;
  bottom: 80px;
  width: 55px;
  height: 55px;
  transform: translateY(60px);
  transition: all 0.7s;
  opacity: 0;
}

.top_btn.active {
  transform: translateY(-20px);
  opacity: 1;
}

.top_btn img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.363));
}