:root {

    /* COLOR */
    --accent-color: #868707;

    /* FONT */
    --font-eng: 'Nanum Myeongjo', serif;
    --font-ko: 'Nanum Gothic', sans-serif;

    /* SIZE*/
    --size-max-width: 1080px;

    /* FONT-WEIGNT */
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    --fw8: 800;
    --fw9: 900;

}

/* HEADER */
.heading_banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
    background-color: var(--accent-color);
}

.heading_banner a {
    display: block;
    height: 100%;
    text-align: center;
    line-height: 32px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.767);
    letter-spacing: -0.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-weight: var(--fw9);
}

.heading_banner a div {
    font-size: 13px;
    background-color: black;
    width: 18px;
    height: 18px;
    line-height: 20px;
    font-weight: var(--fw9);
    font-family: var(--font-eng);
}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    transition: all 0.3s;
    z-index: 9999;
    border-bottom: 1px solid var(--accent-color);
    background-color: rgb(255, 255, 255);
}

header:hover a {
    color: var(--accent-color);
}

header::before {
    position: absolute;
    content: '';
    background-color: rgba(255, 255, 255, 0.932);
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
}

header.hovered::before {
    opacity: 1;
    visibility: visible;
    transform: translateY(140%);
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    height: 100%;
    margin: 0 auto;
}

header .logo {
    color: var(--accent-color);
    font-weight: 400;
    font-size: 24px;
    font-weight: var(--fw8);
    letter-spacing: 0.13rem;
    font-family: var(--font-eng);
    transition: all 0.3s;
    height: 100%;
    line-height: 75px;
    width: 145px;
}

header .logo.active {
    color: var(--accent-color);
}

header a.active {
    color: var(--accent-color);
}

/* NAV */
nav ul {
    display: flex;
    align-items: center;
    font-weight: var(--fw5);
    height: 70px;
    width: 600px;
}

nav ul .dept1 {
    position: relative;
    width: 25%;
    height: 100%;
    text-align: center;
    line-height: 70px;
}

nav ul .dept1:hover .dept2 li a {
    display: block;
}

nav ul .dept1::after {
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    background: var(--accent-color);
    transition: all 0.3s;
}

nav ul .dept1:hover::after {
    width: 100%;
}

nav ul .dept1 a {
    display: block;
    color: var(--accent-color);
    font-size: 17px;
    font-weight: var(--fw6);
    font-family: var(--font-eng);
}

nav ul .dept1 a.active {
    color: #868707;
}

nav ul .dept1:hover .dept2 {
    visibility: visible;
    opacity: 1;
}

nav .dept2 {
    position: relative;
    display: block;
    display: flex;
    width: 540px;
    height: 50px;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    margin-left: -10px;
}

nav .dept2 li {
    width: 180px;
    height: 100%;
    line-height: 50px;
    transition: all 0.3s;

}

nav .dept2 li a {
    color: var(--accent-color);
    font-weight: var(--fw7);
    font-size: 17px;
}


/* GNB */
.sub_gnb {
    display: flex;
    gap: 25px;
    height: 100%;
    align-items: center;
    width: 170px;
}

.sub_gnb a {
    display: flex; /* 추가된 부분 */
    align-items: center; /* 추가된 부분 */
    width: 33px;
    height: 33px;
    opacity: 0.7;
    transition: all 0.3;
}

.sub_gnb a:hover {
    opacity: 1;
}

.sub_gnb a:first-child {
    width: 28px;
    height: 28px;
}

.sub_gnb a img {
    width: 100%;
    height: 100%;
}
.sub_gnb a p{
    color: #868707; 
    font-size: 18px;
    font-weight: 700;
    font-family: var(--font-eng);
}
